<template>
  <div>
    <div class="container">
      <br>
      <h2 class="text-center">เเสดงข้อมูล</h2>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>รหัส</th>
            <th>ชื่อกิจกรรม</th>
            <th>วันเริ่มจัด</th>
            <th>วันที่สิ้นสุด</th>
            <th>จํานวนคน</th>
            <th>สถานที่</th>
            <th>เเก้ไข</th>
            <th>ลบ</th>
          </tr>
          <tr v-for="activity in activitys" :key="activity.id">
            <td>{{ activity.id }}</td>
            <td>{{ activity.activityName }}</td>
            <td>{{ activity.activityDateStart }}</td>
            <td>{{ activity.activityDateEnd }}</td>
            <td>{{ activity.activityAmount }}</td>
            <td>{{ activity.activityLocation }}</td>
            <td>
              <a v-bind:href="'/activitys/'+activity.id+'/edit'"> edit </a>
              <td><a href="javascript:;" class="btn btn-warning" v-on:click="deleteActivity(activity.id)">Delete</a></td>
            </td>
            <td>
               
            </td>

           
          </tr>
        </thead>
      </table>

      <td>
        <b-button variant="outline-primary" href="/activitys/create">เพิ่มข้อมูล</b-button>
      </td>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.getActivityData();
  },
  methods: {
    getActivityData() {
      axios.get("/api/activitys").then(response => {
        this.activitys = response.data;
      });
    },
    deleteActivity(id,index){
      axios.delete('/api/activitys/'+id).then(response=>{
        console.log(response);
      });
    }
    
  },
  
  data() {
    return {
      activitys:[],
      activity:{
        id: 0,
        activityName:'',
        activityDateStart:'',
        activityDateEnd:'',
        activityAmount:'',
        activityLocation:''
      }
    };
  }
};
</script>

<style>
</style>