<template>
  <b-container class="bv-example-row">
  <form action="/activitys">
    <h1>เพิ่มข้อมูล</h1>
  <b-form-input v-model="activityName"  type="text" required placeholder="activityName" ></b-form-input><br>
  
  <b-form-input v-model="activityDateStart" type="date" required placeholder="activityDateStart" ></b-form-input><br>
  
  <b-form-input v-model="activityDateEnd" type="date" required placeholder="activityDateEnd" ></b-form-input><br>
  <b-form-input v-model="activityAmount" type="number" required placeholder="activityAmount" ></b-form-input><br>
  <b-form-input v-model="activityLocation" type="text" required placeholder="activityLocation" ></b-form-input><br>
 
  <b-button variant="primary " v-on:click="addAvtivity()">Save</b-button>
  
   <b-button variant="outline-primary" v-on:click="newDoc()">กลับไปหน้าหลัก</b-button>
  </form>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      activityName: '',
      activityDateStart: '',
      activityDateEnd: '',
      activityAmount: '',
      activityLocation: ''
    };
  },
  methods: {
    addAvtivity() {
      axios.post('/api/activitys', {
        activityName:this.activityName,
        activityDateStart:this.activityDateStart,
        activityDateEnd:this.activityDateEnd,
        activityAmount:this.activityAmount,
        activityLocation:this.activityLocation
      });
    },
   newDoc(){
        window.location.assign("http://localhost:8000/activitys")
     }

  }
};



</script>

