<template>
  <b-container class="bv-example-row">
  <b-form action="/activitys">
  <h1>Edit</h1>
  <b-form-input v-model="activityName"  type="text"></b-form-input><br>
  
  <b-form-input v-model="activityDateStart" type="date" required placeholder="activityDateStart" ></b-form-input><br>
  
  <b-form-input v-model="activityDateEnd" type="date" required placeholder="activityDateEnd" ></b-form-input><br>
  <b-form-input v-model="activityAmount" type="number" required placeholder="activityAmount" ></b-form-input><br>
  <b-form-input v-model="activityLocation" type="text" required placeholder="activityLocation" ></b-form-input><br>
 
  <b-button variant="primary " v-on:click="updateAvtivity()">Save</b-button>
  
  </b-form>
  </b-container>
</template>

<script>
export default {
  props:['id'],
  data() {
    return {
      activityName: "",
      activityDateStart: "",
      activityDateEnd: "",
      activityAmount: "",
      activityLocation: ""
    }
  },mounted(){
    axios.get('/api/activitys/'+this.id).then(response=>{
         var act =response.data;
         this.activityName = act.activityName;
         this.activityDateStart = act.activityDateStart;
         this.activityDateEnd = act.activityDateEnd;
         this.activityAmount = act.activityAmount;
         this.activityLocation = act.activityLocation;
    });
  },

  methods:{
    updateAvtivity(){
      axios.put('/api/activitys/'+this.id,{
        activityName:this.activityName,
        activityDateStart:this.activityDateStart,
        activityDateEnd:this.activityDateEnd,
        activityAmount:this.activityAmount,
        activityLocation:this.activityLocation
      });
    }
  }
 
};
</script>


