<template>
  <div>
    <div class="container">
      <br>
      <h2 class="text-center">เเสดงข้อมูล</h2>
      <table class="table">
         <thead class="thead-dark">
        <tr>
          <th>รหัส</th>
          <th>ชื่อกิจกรรม</th>
          <th>วันเริ่มจัด</th>
           <th>วันที่สิ้นสุด</th>
            <th>จํานวนคน</th>
            <th>สถานที่</th>
            <th>ข้อมูลเพิ่มเติม</th>
            <th>เเก้ไข</th>
            <th>ลบ</th>
        </tr>
       <tr v-for="activity in activitys">
         <td>{{ activity.id }}</td>
          <td>{{ activity.activityName }}</td>
          <td>{{ activity.activityDateStart }}</td>
          <td>{{ activity.activityDateEnd }}</td>
          <td>{{ activity.activityAmount }}</td>
          <td>{{ activity.activityLocation }}</td>
         <td> <a href="/activitys/show" class="btn btn-secondary">ดูข้อมูล</a></td>
          <td><a href="#" class="btn btn-primary">Edit</a></td>
          <td><a href="#" class="btn btn-danger">Delete</a></td>
          
       </tr>
       </thead>
      </table>
      <td><a href="/activitys/create" class="btn btn-success">เพิ่มข้อมูล</a></td>
    </div>
  </div>
</template>


</template>


<script>
export default {
  mounted() {
    this.getActivitysData();
  },
  methods:{
    getActivitysData(){
      axios.get('api/activitys').then(response=>{
         this.activitys=response.data;
      });
    }
  },
  data(){
    return {
      activitys:[],
      user:{
        id:0,
        name:''
        
      }
    }
  }
};
</script>
